In [2]:
#read the csv
import pandas as pd
import numpy as np

calibration_data = pd.read_csv("camera_calibration.csv")
calibration_data

    no  real nose    x    y
0    1        114  347  229
1    2        114  347  227
2    3        114  346  223
3    4        114  355  219
4    5        114  351  216
..  ..        ...  ...  ...
79  80        160  386   88
80  81        160  392   81
81  82        160  389   84
82  83        160  393   82
83  84        160  386   84

[84 rows x 4 columns]

In [3]:
#data frame selection
calibration_y = calibration_data[["real nose", "y"]]

In [4]:
calibration_y

    real nose    y
0         114  229
1         114  227
2         114  223
3         114  219
4         114  216
..        ...  ...
79        160   88
80        160   81
81        160   84
82        160   82
83        160   84

[84 rows x 2 columns]

In [30]:
import matplotlib.pyplot as plt

x = calibration_data["y"].to_numpy()
y = calibration_data["real nose"].to_numpy()
y

array([114, 114, 114, 114, 114, 114, 114, 114, 114, 114, 114, 114, 114,
       114, 114, 114, 114, 114, 114, 114, 114, 114, 114, 114, 114, 114,
       114, 114, 126, 126, 126, 126, 126, 126, 126, 126, 126, 126, 126,
       126, 126, 126, 126, 126, 126, 126, 126, 126, 160, 160, 160, 160,
       160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160,
       160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160, 160,
       160, 160, 160, 160, 160, 160])

In [31]:
mymodel = np.polyfit(x, y, 2)

In [32]:
A = mymodel[0]
B = mymodel[1]
C = mymodel[2]

In [33]:
mymodel

array([ 3.52387948e-03, -1.40920618e+00,  2.53984884e+02])

In [34]:
A

0.0035238794759860134

In [35]:
B

-1.409206180287326

In [36]:
C

253.98488370725607